:root {
  --background: #022665;
  --foreground: #022665;

  /* New Color Palette */
  --dark-blue: #0a1430;
  --light-white: #f1f1f1;
  --white: #fefefe;
  --light-gray: #e1e5e9;
  --primary-blue: #004cd2; /* Note: The user provided this color twice, so I'm naming it 'primary-blue' */
  --deep-blue: #022665;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #022665;
    --foreground: #022665;

    /* New Color Palette for Dark Mode (adjust as needed if you want different shades) */
    --dark-blue: #0a1430; /* Might remain the same or be a slightly lighter dark */
    --light-gray: #e1e5e9; /* Might become a darker gray for contrast */
    --primary-blue: #004cd2; /* Typically remains consistent for brand primary */
    --deep-blue: #022665; /* Might remain the same or be a slightly lighter deep blue */
    --white: #fefefe;
    --light-white: #f1f1f1;
  }
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  background-color: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
