.card {
  margin-bottom: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  height: 220px;
  border-radius: 16px;
  // Use themed colors for the border and text
  border: 2px dashed var(--theme-text-secondary);
  cursor: pointer;
  color: var(--theme-text-secondary);
  transition: all 0.2s ease-in-out;
  &:hover {
    // Use themed colors for the hover state
    border-color: var(--theme-primary);
    color: var(--theme-primary);
    background-color: var(--theme-card-background);
    filter: brightness(0.95);
  }
}

.plusIcon {
  font-size: 4rem;
  font-weight: 200;
  line-height: 1;
}

.createText {
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.modalBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modalContent {
  background-color: var(--theme-background);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  animation: slideIn 0.3s forwards;
}

.modalHeader {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  // color: var(--theme-text-tertiary);
}

.input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid var(--theme-border);
  border-radius: 8px;
  margin-bottom: 1rem;
  width: 100%;
}

.errorText {
  color: var(--theme-warning);
  margin-bottom: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;

  &.cancel {
    background-color: transparent;
    border: 1px solid var(--theme-border);
    color: var(--theme-text);
    &:hover {
      // background-color: var(--theme-background);
      filter: brightness(0.95);
    }
  }

  &.create {
    background-color: var(--theme-primary);
    color: var(--theme-dark-blue);
    &:hover {
      filter: brightness(0.85);
    }
  }
}
