.wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-y: hidden;
  flex-flow: column nowrap;
  background-color: var(--theme-background);
  padding: 0 0 10px 0;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-color: inherit;
}

.inputWrapper {
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--theme-border);
  border-radius: 4px;
  margin-bottom: 25px;
}

.header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--theme-dark-blue);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
