.wrapper {
  width: 100%;
  background-color: var(--theme-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px 15px;
  font-size: 1.2rem;
  color: var(--theme-button-text);
  gap: 25px;
  overflow-x: auto;

  @media (max-width: 1156px) {
    justify-content: left;
  }
}
