.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--theme-primary);
  transition: height 0.15s ease;
}

.icon {
  transition: transform 0.05s linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 0.8s linear infinite;
}
