.textWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100vw;
}

.text {
  color: var(--theme-dark-blue);
  font-weight: 600;
  font-size: 1.1rem;
  text-align: left;
  width: 100%;
}
